<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>daytime</title>
</head>
<body>
    <h1><%= title %></h1>

    <p>
        The current seconds: <%= seconds %>
    </p>

    <% if (seconds % 2 === 0) { %>
        <ul>
            <% items.forEach((fruit) => { %>
                <li><%= fruit %></li> 
            <% }) %> 
        </ul>
    <% } else { %>
        <h3>none</h3>
    <% } %>

	<p><%- htmlcontent %></p>
<%- include("footer.ejs") %>
</body>
</html>
